@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  font-family: 'Inter', sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.description {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 1.5;
  color: #3A4342;
}
