@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  font-family: 'Inter', sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.container {
  padding: 1rem 1rem;
  max-width: 1200px;
}

.nav-link {
  text-decoration: none;
  font-weight: 600;
}

.nav-link:hover {
  text-decoration: underline;
}
